<div ng-controller="buyerController">
<h3>Cancel Order</h3>
  <form class="container">
    Reason:<textarea class="form-control" rows="5" id="comment" ng-model="reason"></textarea><br/>
    <button type="submit" class="btn btn-primary" ng-click="submitReason(data)">submit</button>
  </form>
</div>
<script type="text/javascript">
    var json={
    "data": <%= params["id"] %>,
    }
</script>